/* RGB */
$color1: rgba(1, 41, 95, 1);
$color2: rgba(67, 127, 151, 1);
$color3: rgba(132, 147, 36, 1);
$color4: rgba(255, 179, 15, 1);
$color5: rgba(253, 21, 27, 1);

.navbar1 {
  background-color: $color4;
}

.logo {
  font-family: "Pacifico";
  //   font-style: italic;
  font-size: 33px;
}
